html {
    background-color: Cornsilk;
}

.page{
     width: 1400px;    
     background-color: white;   
     margin: auto;
     padding: 35px;
     padding-top: 15px;
  }

h1 {
font-family: "PT_Sans";
font-size: 2rem;
font-weight: 900;
font-style: bold;
line-height: 1.5;
margin: 0;
}

p { 
font-family: Arial;
font-size: 1.125rem;
font-weight: 300;
font-style: normal;
margin-top: 0.5;
margin-bottom: 0.5;
line-height: 1.618;
}

.vis-container{
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px;
  }

 .vis-container-center{
    margin: 0;
    width: 100%;
    overflow: hidden;
  }

.pure-g{
 margin-bottom: 25px;
 font-family: "PT_Sans"
}

  

