html {
    background-color: Cornsilk;
}

h1 {
font-family: "PT_Sans",
font-size: 1.125rem;
font-weight: 700
font-style: bold,
line-height: 1.5
}

p { 
font-family: Arial;
font-size: 1rem;
font-weight: 300;
font-style: normal;
margin-top: 0.5;
margin-bottom: 0.5
line-height: 1.618
}

#choropleth_map {
	left: 100px;
	right: 100px;
	height: 1000px;
	width: 800px
}

#trend {
	left: 100px;
	right: 100px;
	height: 1000px;
	width: 800px
}

#stacked_area {
	left: 100px;
	right: 100px;
	height: 1000px;
	width: 800px
}

#stacked_bar {
	left: 100px;
	right: 100px;
	height: 1000px;
	width: 800px
}

#pyramid {
	left: 100px;
	right: 100px;
	height: 1000px;
	width: 800px
}
  

